.header-container {
  width: 100%;
  height: 100px;
  background-color: #f0ebeb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8% 20px 8%;
  position: sticky;
  top: 0;
  z-index: 999;
}
.active-link {
  color: #f7931e !important;
  font-weight: 600;
}
.header-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.website-header-name {
  color: #f7931e;
  font-family: Roboto;
  font-style: italic;
  font-size: 25px;
}
.header-logo {
  height: 45px;
  cursor: pointer;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.links-container a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  transition: 0.2s ease-in-out;
}

.links-container a:hover {
  color: #ff4d00;
}

.links-container button {
  padding: 8px 16px;
  background-color: #f7931e;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease;
}

.links-container button:hover {
  background-color: #e04300;
}

.profile-nav {
  width: 35px;
  height: 35px;
  border-radius: 40px;
}

.hamburger-btn {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
  background-color: #f0ebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  padding: 25px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  z-index: 998;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.mobile-menu a:hover {
  color: #ff4d00;
}

.mobile-menu button {
  padding: 8px 16px;
  background-color: #f7931e;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }
}
