.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f8fafc;
}

.login-left-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  order: 1;
}

.login-card {
  width: 80%;
  max-width: 350px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.website-logo {
  width: 60px;
  align-self: center;
  margin-bottom: 5px;
}
.website-name {
  text-align: center;
  color: #f7931e;
  font-family: 'Roboto';
  margin-top: 0px;
  font-size: 30px;
  font-style: italic;
}

.login-heading {
  text-align: center;
  font-size: 24px;
  color: #334155;
}

.form-container label {
  font-weight: 600;
  color: #475569;
  display: block;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 13px;
}

.form-container input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.form-container input:focus {
  border-color: #f7931e;
}

.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field input {
  padding-right: 40px;
}

.eye-icon-btn {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.eye-icon {
  font-size: 20px;
  color: #475569;
}

.eye-icon-btn:hover .eye-icon {
  color: #f7931e;
}

.login-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #f7931e;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #f97316;
}

.error-msg {
  color: red;
  margin-top: 8px;
  font-size: 13px;
  text-align: center;
}

.login-right-section {
  width: 50%;
  order: 2;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .login-page {
    flex-direction: column;
    height: 100vh;
  }

  .login-right-section {
    order: 1;
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    background-color: #fff;
  }

  .login-image {
    position: absolute;
    width: 120%;
    height: 120%;
    top: -30%;
    right: -30%;
    border-radius: 50%;
    object-fit: cover;
  }

  .login-left-section {
    order: 2;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 0;
  }

  .login-card {
    width: 85%;
    max-width: 380px;
    box-shadow: none;
    padding: 0px 20px 0px 20px;
    margin-top: 8px;
  }

  .login-heading {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .website-logo {
    width: 40px;
    align-self: center;
    margin-bottom: 5px;
  }
  .website-name {
    text-align: center;
    color: #f7931e;
    font-family: 'Roboto';
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-style: italic;
  }
}
